body {
    background: black;
    color: white;
}

input {
    color: cornsilk;
    background: red;
    width: 32px;
    height: 32px;
}

#gameZone {
    display: flex;
    flex-grow: wrap;
    flex-direction: row;
    margin: 25px;
    justify-content: center;
    text-align: center;
}

#playerZone {
    margin-right: 25px;
}

.player {
    background: green;
}

.playerShip {
    background: lightgreen;
}

.computer {
    background: red;
}

.computerShip {
    background: red;
}

.button {
    width: 128px;
}

.destroyedPlayerShip {
    background: black;
}

.destroyedComputerShip {
    background: black;
}

#destroyedField {
    background: cyan;
}